.profile {
    margin-top: 200px;
}

/* .card {
    width: 600px;
} */

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 120%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    /* margin-left: -12px; */
}
.label{
    margin-left: 10px;
    /* border: 3px solid black; */
    border-radius: 3px;
}
#default{
    background-color: rgb(56, 53, 53);
    color: white;
}
#primary{
    background-color: rgb(107, 107, 230);
    color: white;
}
#success{
    background-color: rgb(63, 228, 63);
    color: white;
}
p a{
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(179, 218, 101);
    color: white;
    margin-left: 10px;
    
}